.aircraft:not(:first-child) {
    margin-top: 0.25em;
}

.aircraft-heading,
.aircraft-metadata {
    max-width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.aircraft-heading .airline,
.aircraft-heading .type {
    font-size: 0.85em;
}

.aircraft-metadata span {
    margin-right: 1em;
}

.aircraft-metadata .fas,
.aircraft-metadata .far {
    margin-right: 0.2em;
}